<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>
<body>
 <button onclick="getAllRequest()">Get All</button>
<script>
    axios({
    url: 'https://api.themoviedb.org/3/search/movie?api_key=6427e11274426be9030b97aab51ef6f8&query=troya',
    method: 'post',
    headers: {'Content-type': 'text/html; charset=UTF-8'},
    data: text
}).then(OkCallback, ErrorCallback)

function getAllRequest()
{
   axios.get('https://api.themoviedb.org/3/search/movie?api_key=6427e11274426be9030b97aab51ef6f8&query=troya')
     .then(function (response) {
      console.log(response);
     })
     .catch(function (error) {
      console.log(error);
     })
     .then(function () {
     });
}

</script>
</body>
</html>